.blue-robotic-text {
    font-family: "Roboto Mono", monospace;
    color: cyan;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px cyan;
    margin: 30px;
  }

.white-robotic-text {
  font-family: "Roboto Mono", monospace;
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: 0 0 3px cyan;
  margin: 50px;
}

.black {
    text-shadow: cyan  30px;
}

.paragraph {
  font-size: small;
}

@media (max-width: 480px) {
  /* CSS rules for screens 480px or smaller */
  /* Add your styles here */

  
}