/* Style Effects */
.Robot-button {
  background-color: white;
  color:black;
  border-radius: 8px;
  border: none;
  padding: 7px 14px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s;
}


a {
  text-decoration: none;
}

/* Animation Effects */
.Robot-button:hover {
  background-color: cyan;
  color: white;
 
}




/* Mobile View */
@media (max-width: 480px) {
    .Robot-button {
      background-color: white;
      color:black;
      border-radius: 8px;
      border: none;
      padding: 7px 14px;
      margin-left: 4px;
      margin-right: 4px;
      font-size: 16px;
      cursor:crosshair;
      transition: background-color 0.1s;
    
    }

  }