/* Style Effects */
.Robot-button {
  background-color: white;
  color:black;
  border-radius: 8px;
  border: none;
  padding: 7px 14px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.1s;
}


a {
  text-decoration: none;
}

/* Animation Effects */
.Robot-button:hover {
  background-color: cyan;
  color: white;
 
}

.scrollable-div {
  display: flex;
  justify-content: center;
  align-items: center;
 
}




/* Mobile View */
@media (max-width: 490px) {
  .scrollable-div {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    size: 50%;
  }

  .Robot-button {
    font-size: 12px;
  }

  }