.Button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin-right: 350px;
    margin-left: 350px;
  }
  
  .Robot-button {
    background-color: white;
    color:black;
    border-radius: 9px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s;
  }
  
  .Robot-button:hover {
    background-color: cyan;
  }

  

  @media  (max-width: 640px) {
    .Button-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-right: 0px;
      margin-left: 0px;
  
    }

    .scrollable-div {
      overflow-x: auto; 
      white-space: nowrap; 
      width: 100%; 
    }


}



