.white-robotic-text {
    font-family: "Roboto Mono", monospace;
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px cyan;
    list-style: none;
    font-size: medium
}

.aqua-text {
    font-family: "Roboto Mono", monospace;
    color: aqua;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px cyan;
    list-style: none;
    font-size: medium;
    padding: 10px
}

h4::hover {
color: purple;
}

.hobbiesCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-robotic-text::hover {
    color:purple
}

.classDub {
   
        display: flex;    
        justify-content: space-evenly; 
        
           
        overflow-x: auto;          
        white-space: nowrap;      
        padding: 10px;              
        max-width: 100%;            
      
        scrollbar-width: thin;
        scrollbar-color: #ccc #fff;
      
        /* Thin scrollbar thumb */
        &::-webkit-scrollbar {
          width: 6px;
        }
        
}

.imageSizeL {
    width: 200px;
    border-radius: 75%;
}
