.circle-image {
  border: cyan;
  border-radius: 100%;
  width: 200px;

}

.row {
 display: flex;
 justify-content: center;
}


.picAndQuote {
 flex: 0 0 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.robotic-text {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: 0 0 3px cyan;
  color: white;
  margin: 30px;
}

.h6 {
font-size: medium;
margin-top: 10px;
}

.aqua {
  color:aqua
}


/* @media (max-width: 480px) {
  /* CSS rules for screens 480px or smaller */
  /* Add your styles here */
  /* .h6 {
    font-size: xx-small;
    margin-top: 10px;
    }
   */
