nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: cyan;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-style:dotted
  /* background-color: rgb(140, 0, 255); */
  
}


/* This makes the bar navigation*/

