.project-cards {
    display: flex;
    justify-content: space-evenly;
}

.project-title {
    font-family: "Roboto Mono", monospace;
    color: rgb(255, 0, 170);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    margin: 30px;
}

.description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.white-robotic-text1 {
    font-family: "Roboto Mono", monospace;
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px cyan;
    list-style: none;
    font-size: medium
}

.aqua-text {
    font-family: "Roboto Mono", monospace;
    color: aqua;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px cyan;
    list-style: none;
    font-size: medium;
    padding: 10px
}

.card {
    border-color: aqua;
    /* background-image: url("../images/imagesSet1/istockphoto-1387945043-170667a.webp"); */
    background-color: black;
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.center1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media  (max-width: 640px) {
    .project-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}