.list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .list-container ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .list-container li {
    margin-right: 10px; /* Optional: Add spacing between list items */
  }

  .center {
    display: flex;
    justify-content: space-evenly;
  }

  .iconAndText {
    display: flex;
    align-items: center;
  }


  .blue-robotic-text {
    font-family: "Roboto Mono", monospace;
    color: cyan;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px cyan;
    margin: 30px;
  }

  .white-robotic-text {
    font-family: "Roboto Mono", monospace;
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0 0 3px cyan;

  }